HMI-BOILER.json
[
    {
        "id": "a294a474c0ef4d77",
        "type": "websocket out",
        "z": "c563570e77df377e",
        "name": "",
        "server": "2e736dd30e2dec06",
        "client": "",
        "x": 1230,
        "y": 180,
        "wires": []
    },
    {
        "id": "ed5544826207f18f",
        "type": "inject",
        "z": "c563570e77df377e",
        "name": "Refresh 1s",
        "props": [],
        "repeat": "1",
        "once": true,
        "onceDelay": "1",
        "x": 340,
        "y": 180,
        "wires": [
            [
                "8c36823270427e61"
            ]
        ]
    },
    {
        "id": "8c36823270427e61",
        "type": "function",
        "z": "c563570e77df377e",
        "name": "Build Flux Query",
        "func": "msg.query = `\nfrom(bucket: \"Panel_Boiler\")\n  |> range(start: -10s)\n  |> filter(fn: (r) => r[\"_measurement\"] == \"PanelBoiler\")\n  |> filter(fn: (r) =>\n      r[\"_field\"] == \"boiler1\" or\n      r[\"_field\"] == \"boiler2\" or\n      r[\"_field\"] == \"boiler3\"\n  )\n  |> last()\n`;\nreturn msg;\n",
        "outputs": 1,
        "x": 550,
        "y": 180,
        "wires": [
            [
                "c1e821927542369b"
            ]
        ]
    },
    {
        "id": "c1e821927542369b",
        "type": "influxdb in",
        "z": "c563570e77df377e",
        "influxdb": "3c86402f96328ba7",
        "name": "InfluxDB Query",
        "query": "",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "PT_SATU",
        "x": 780,
        "y": 180,
        "wires": [
            [
                "321754714c04e0bd"
            ]
        ]
    },
    {
        "id": "321754714c04e0bd",
        "type": "function",
        "z": "c563570e77df377e",
        "name": "Format for WebSocket",
        "func": "\n\nlet payload = {\n  time: new Date().toISOString(),\n  boiler: {}\n};\n\nmsg.payload.forEach(row => {\n  if(row._field === 'boiler1') payload.boiler['1'] = row._value;\n  if(row._field === 'boiler2') payload.boiler['2'] = row._value;\n  if(row._field === 'boiler3') payload.boiler['3'] = row._value;\n  if(row._time) payload.time = row._time;\n});\n\nmsg.payload = payload;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1020,
        "y": 180,
        "wires": [
            [
                "3577c323046d3360",
                "a294a474c0ef4d77"
            ]
        ]
    },
    {
        "id": "3577c323046d3360",
        "type": "debug",
        "z": "c563570e77df377e",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 1180,
        "y": 240,
        "wires": []
    },
    {
        "id": "b0a1ee54f6023701",
        "type": "http in",
        "z": "c563570e77df377e",
        "name": "GET /boiler",
        "url": "/boiler",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 610,
        "y": 120,
        "wires": [
            [
                "b13011ace0786f76"
            ]
        ]
    },
    {
        "id": "1d28b8a3a57c4d33",
        "type": "http response",
        "z": "c563570e77df377e",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 910,
        "y": 120,
        "wires": []
    },
    {
        "id": "b13011ace0786f76",
        "type": "template",
        "z": "c563570e77df377e",
        "name": "Boiler",
        "field": "payload",
        "fieldType": "msg",
        "format": "html",
        "syntax": "mustache",
        "template": "<!DOCTYPE html>\n<html lang=\"id\">\n\n<head>\n  <meta charset=\"utf-8\" />\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0, viewport-fit=cover\">\n  <title>Display Monitoring - HMI 10\"</title>\n\n  <style>\n    :root {\n      --design-w: 1024;\n      --design-h: 600;\n      --bg: #f8f9fb;\n      --card: #fff;\n      --border-color: #e0e0e0;\n      --text-color: #222;\n      --muted: #6b7280;\n      --green: #28a745;\n      --red: #dc3545;\n      --blue: #007bff;\n      --orange: #fd7e14;\n      --radius: 8px;\n      --ui-font: \"Inter\", system-ui, -apple-system, \"Segoe UI\", Roboto, Arial;\n    }\n\n    .app,\n    .app * {\n      -webkit-user-select: none;\n      -moz-user-select: none;\n      -ms-user-select: none;\n      user-select: none;\n      -webkit-touch-callout: none;\n      -webkit-user-drag: none;\n    }\n\n    .app input,\n    .app textarea,\n    .app select,\n    .app .allow-select {\n      -webkit-user-select: text !important;\n      -moz-user-select: text !important;\n      -ms-user-select: text !important;\n      user-select: text !important;\n    }\n\n\n    .app button {\n      -webkit-user-select: none;\n      user-select: none;\n    }\n\n    html,\n    body {\n      height: 100%;\n      margin: 0;\n      padding: 0;\n      background: var(--bg);\n      font-family: var(--ui-font);\n      -webkit-font-smoothing: antialiased;\n      -moz-osx-font-smoothing: grayscale;\n      overflow: auto;\n    }\n\n    .viewport {\n      width: 100%;\n      height: 100%;\n      display: flex;\n      align-items: center;\n      justify-content: center;\n      padding: 8px;\n      box-sizing: border-box;\n      background: var(--bg);\n    }\n\n    .app {\n      width: calc(var(--design-w)*1px);\n      height: calc(var(--design-h)*1px);\n      background: var(--card);\n      border-radius: calc(var(--radius)+2px);\n      padding: 10px;\n      box-sizing: border-box;\n      display: flex;\n      flex-direction: column;\n      gap: 8px;\n      transform-origin: top center;\n      box-shadow: 0 10px 30px rgba(0, 0, 0, .08);\n      border: 1px solid var(--border-color);\n\n    }\n\n    header {\n      display: flex;\n      justify-content: center;\n      align-items: center;\n      position: relative;\n      padding: 4px 8px;\n    }\n\n    .header-title {\n      font-size: 20px;\n      font-weight: 800;\n      letter-spacing: .6px;\n    }\n\n    #connection-status {\n      position: absolute;\n      right: 10px;\n      top: 8px;\n      font-size: 13px;\n      font-weight: 800;\n      padding: 6px 10px;\n      border-radius: 10px;\n      color: #fff;\n    }\n\n    #connection-status.connected {\n      background: var(--green);\n    }\n\n    #connection-status.disconnected {\n      background: var(--red);\n    }\n\n    #connection-status.simulating {\n      background: var(--orange);\n    }\n\n    .status-row {\n      display: flex;\n      gap: 10px;\n      align-items: stretch;\n      flex: 0 0 auto;\n      min-height: 0;\n    }\n\n    .status-box {\n      flex: 1 1 0;\n      min-width: 0;\n      background: #fff;\n      border: 1px solid var(--border-color);\n      border-radius: 10px;\n      padding: 4px;\n      text-align: center;\n      font-size: 14px;\n      box-sizing: border-box;\n    }\n\n    .status-box strong {\n      display: block;\n      margin-bottom: 6px;\n      font-size: 15px;\n      color: var(--text-color);\n    }\n\n    .status-box .value {\n      font-weight: 800;\n      color: #111;\n      font-size: 15px;\n    }\n\n    .chart-area {\n      display: flex;\n      flex-direction: column;\n      gap: 8px;\n      flex: 1 1 auto;\n      min-height: 0;\n    }\n\n    .chart-card {\n      display: flex;\n      flex-direction: column;\n      width: 100%;\n      height: auto;\n      min-height: 0;\n      flex: 1 1 auto;\n      background: var(--card);\n      border-radius: 10px;\n      padding: 6px;\n      box-sizing: border-box;\n      position: relative;\n    }\n\n    .chart-header {\n      display: flex;\n      align-items: center;\n      justify-content: space-between;\n      gap: 8px;\n      padding: 8px 12px;\n    }\n\n    .chart-title {\n      font-weight: 800;\n      font-size: 16px;\n    }\n\n    .range-text {\n      color: var(--muted);\n      font-size: 13px;\n    }\n\n    .legend-container {\n      display: flex;\n      justify-content: center;\n      gap: 15px;\n      align-items: center;\n      padding: 0;\n      flex-wrap: wrap;\n      margin-bottom: 2px;\n    }\n\n    .legend-button {\n      border: none;\n      border-radius: 999px;\n      color: #fff;\n      font-weight: 800;\n      padding: 8px 12px;\n      cursor: pointer;\n      font-size: 13px;\n      display: inline-flex;\n      align-items: center;\n      gap: 8px;\n      white-space: nowrap;\n      box-shadow: 0 6px 14px rgba(0, 0, 0, .08);\n    }\n\n    .legend-button.hidden {\n      opacity: .34;\n      filter: grayscale(1);\n      box-shadow: none;\n    }\n\n    .legend-button:focus {\n      outline: 3px solid rgba(17, 24, 39, 0.12);\n      outline-offset: 3px;\n    }\n\n    .c-boiler1 {\n      background: #ff1e1e;\n    }\n\n    .c-boiler2 {\n      background: #f39c12;\n    }\n\n    .c-boiler3 {\n      background: #ffd400;\n      color: #111;\n    }\n\n    .update-time {\n      font-size: 11px;\n      color: var(--muted);\n      margin-top: 4px;\n      font-weight: 500;\n    }\n\n    .chart-canvas {\n      position: relative;\n      width: 100%;\n      height: 100%;\n      min-height: 150px;\n      display: block;\n      flex: 1 1 auto;\n      z-index: 1;\n    }\n\n    .chart-canvas canvas {\n      width: 100% !important;\n      height: 100% !important;\n      display: block;\n      border-radius: 6px;\n      /* background: #fff; */\n      -webkit-user-drag: none;\n\n    }\n\n    .note {\n      display: flex;\n      gap: 10px;\n      align-items: stretch;\n      background: #f6f6f7;\n      border-radius: 8px;\n      padding: 6px 10px;\n      border: 1px solid #e6e6e6;\n      box-sizing: border-box;\n      flex: 0 0 auto;\n      position: relative;\n      z-index: 2;\n    }\n\n    .note-left {\n      flex: 1;\n      display: flex;\n      flex-direction: column;\n      gap: 4px;\n    }\n\n    .note-right {\n      width: 140px;\n      display: flex;\n      flex-direction: column;\n      justify-content: center;\n      gap: 4px;\n    }\n\n    .note label {\n      font-size: 11px;\n      font-weight: 740;\n      color: var(--muted);\n    }\n\n    select,\n    textarea,\n    input {\n      width: 100%;\n      padding: 10px;\n      border-radius: 8px;\n      border: 1px solid #cfcfcf;\n      box-sizing: border-box;\n      font-size: 14px;\n      font-family: var(--ui-font);\n      -webkit-user-select: text !important;\n      -moz-user-select: text !important;\n      -ms-user-select: text !important;\n      user-select: text !important;\n    }\n\n    button {\n      background: var(--blue);\n      color: #fff;\n      border: none;\n      padding: 8px 12px;\n      border-radius: 6px;\n      cursor: pointer;\n      font-weight: 800;\n      font-size: 14px;\n    }\n\n    .note-status {\n      font-size: 13px;\n      font-weight: 800;\n    }\n\n    .note-status.success {\n      color: var(--green);\n    }\n\n    .note-status.error {\n      color: var(--red);\n    }\n\n    .sr-only {\n      position: absolute !important;\n      height: 1px;\n      width: 1px;\n      overflow: hidden;\n      clip: rect(1px, 1px, 1px, 1px);\n      white-space: nowrap;\n      clip-path: inset(50%);\n      border: 0;\n      padding: 0;\n      margin: -1px;\n    }\n\n    @media (max-width:980px) {\n      .app {\n        transform-origin: top left;\n      }\n\n      .status-row {\n        flex-direction: column;\n      }\n\n      .note-left,\n      .note-right {\n        width: 100%\n      }\n\n      .note {\n        flex-direction: column\n      }\n\n      .chart-canvas {\n        min-height: 200px;\n      }\n    }\n  </style>\n</head>\n\n<body>\n  <div class=\"viewport\">\n    <div class=\"app\" id=\"app\" aria-label=\"Display Monitoring Dashboard\">\n      <header>\n        <div class=\"header-title\">DISPLAY MONITORING</div>\n        <div id=\"connection-status\" class=\"disconnected\" role=\"status\" aria-live=\"polite\">DISCONNECTED</div>\n      </header>\n\n      <div class=\"status-row\">\n        <div class=\"status-box\">\n          <strong id=\"ds-label-0\">Boiler 1</strong>\n          <div id=\"ds-pressure-0\" class=\"value\">Pressure: -- bar</div>\n          <div id=\"ds-time-0\" class=\"update-time\">Update: --:--:--</div>\n        </div>\n\n        <div class=\"status-box\">\n          <strong id=\"ds-label-1\">Boiler 2</strong>\n          <div id=\"ds-pressure-1\" class=\"value\">Pressure: -- bar</div>\n          <div id=\"ds-time-1\" class=\"update-time\">Update: --:--:--</div>\n        </div>\n\n        <div class=\"status-box\">\n          <strong id=\"ds-label-2\">Boiler 3</strong>\n          <div id=\"ds-pressure-2\" class=\"value\">Pressure: -- bar</div>\n          <div id=\"ds-time-2\" class=\"update-time\">Update: --:--:--</div>\n        </div>\n      </div>\n\n      <div class=\"chart-area\" aria-label=\"Chart area\">\n        <div class=\"chart-card\">\n          <div class=\"chart-header\">\n            <div class=\"chart-title\">Pressure Trends (60 min)</div>\n            <div id=\"rangeText\" class=\"range-text\">Range: 0-30 bar</div>\n          </div>\n          <div id=\"legendButtons\" class=\"legend-container\" role=\"toolbar\" aria-label=\"Chart Legend\"></div>\n\n          <div class=\"chart-canvas\" aria-hidden=\"false\">\n            <canvas id=\"mainChart\" aria-label=\"Grafik tekanan\" draggable=\"false\"></canvas>\n          </div>\n        </div>\n      </div>\n\n      <div class=\"note\" role=\"region\" aria-label=\"Laporan Gangguan / Catatan\">\n        <div class=\"note-left\">\n          <div style=\"display:flex; gap:8px; align-items:center;\">\n            <label for=\"noteType\" style=\"white-space:nowrap;\">Laporan:</label>\n            <select id=\"noteType\" style=\"padding:4px 8px; height:28px; font-size:12px;\" aria-label=\"Tipe laporan\">\n              <option value=\"operational\">Operational hour</option>\n              <option value=\"maintenance\">Maintenance</option>\n              <option value=\"blades\">Blades</option>\n            </select>\n          </div>\n          <textarea id=\"noteText\" rows=\"1\" style=\"padding:4px 8px; font-size:12px; height:32px; min-height:32px;\"\n            placeholder=\"Tulis catatan (opsional)...\" aria-label=\"Keterangan\"></textarea>\n        </div>\n        <div class=\"note-right\">\n          <button id=\"sendNoteBtn\" type=\"button\" style=\"height:100%;\" aria-label=\"Kirim Laporan\">Kirim Laporan</button>\n          <div id=\"noteStatus\" class=\"note-status\" style=\"position:absolute; right:10px; top:-18px;\" aria-live=\"polite\">\n          </div>\n        </div>\n      </div>\n\n      <div id=\"chartSummary\" class=\"sr-only\" aria-live=\"polite\" aria-atomic=\"true\"></div>\n\n      <table id=\"a11y-data\" class=\"sr-only\" aria-hidden=\"false\">\n        <caption>Nilai tekanan terakhir</caption>\n        <thead>\n          <tr>\n            <th>Sensor</th>\n            <th>Tekanan (bar)</th>\n            <th>Waktu</th>\n          </tr>\n        </thead>\n        <tbody>\n          <tr>\n            <td>Boiler 1</td>\n            <td id=\"a11y-boi1\">\u2014</td>\n            <td id=\"a11y-boi1-time\">\u2014</td>\n          </tr>\n          <tr>\n            <td>Boiler 2</td>\n            <td id=\"a11y-boi2\">\u2014</td>\n            <td id=\"a11y-boi2-time\">\u2014</td>\n          </tr>\n          <tr>\n            <td>Boiler 3</td>\n            <td id=\"a11y-boi3\">\u2014</td>\n            <td id=\"a11y-boi3-time\">\u2014</td>\n          </tr>\n        </tbody>\n      </table>\n\n    </div>\n  </div>\n\n  <script>\n    (function () {\n      document.addEventListener('dragstart', function (e) {\n        if (e.target && (e.target.closest('input,textarea,select') || e.target.getAttribute('draggable') === 'true')) return;\n        e.preventDefault();\n      }, { passive: false });\n\n      document.addEventListener('selectstart', function (e) {\n        if (e.target && (e.target.closest('input,textarea,select') || e.target.closest('.allow-select'))) return;\n        e.preventDefault();\n      }, { passive: false });\n\n      document.addEventListener('touchstart', function (e) {\n        e.preventDefault();\n      }, { passive: true });\n    })();\n\n    (function () {\n      const CONFIG = {\n        MAX_POINTS: 400,\n        WINDOW_SECONDS: 60 * 60, // 60 minutes\n        WS_PATH: '/ws/mqtt',\n        TARGET_FPS: 25,\n        PAD: { l: 65, r: 10, t: 15, b: 55 }\n      };\n\n      const DATASETS = [\n        { label: 'Boiler 1', field: 'boiler.1', color: '#ff1e1e', id: 'ds-pressure-0', timeId: 'ds-time-0', css: 'c-boiler1', a11yId: 'a11y-boi1', a11yTimeId: 'a11y-boi1-time' },\n        { label: 'Boiler 2', field: 'boiler.2', color: '#f39c12', id: 'ds-pressure-1', timeId: 'ds-time-1', css: 'c-boiler2', a11yId: 'a11y-boi2', a11yTimeId: 'a11y-boi2-time' },\n        { label: 'Boiler 3', field: 'boiler.3', color: '#ffd400', id: 'ds-pressure-2', timeId: 'ds-time-2', css: 'c-boiler3', a11yId: 'a11y-boi3', a11yTimeId: 'a11y-boi3-time' }\n      ];\n\n      const STATE = {\n        times: [],\n        series: DATASETS.map(() => []),\n        labels: [],\n        visible: DATASETS.map(() => true),\n        ws: null,\n        reconnectTimer: null,\n        reconnectAttempts: 0\n      };\n\n      function saveState() {\n        try {\n          const data = {\n            times: STATE.times,\n            series: STATE.series,\n            labels: STATE.labels\n          };\n          localStorage.setItem('hmi_boiler_data', JSON.stringify(data));\n        } catch (e) {\n          console.warn('Failed to save state', e);\n        }\n      }\n\n      function updateStatusBoxes() {\n        if (!STATE.times.length) return;\n        const lastTs = STATE.times[STATE.times.length - 1];\n\n        DATASETS.forEach((d, i) => {\n          if (d.id && ui.dsEls[i]) {\n            const arr = STATE.series[i];\n            let last = null;\n            for (let k = arr.length - 1; k >= 0; k--) {\n              const v = arr[k];\n              if (typeof v === 'number') { last = v; break; }\n            }\n            ui.dsEls[i].textContent = last == null ? 'Pressure: --' : 'Pressure: ' + Number(last).toFixed(2) + ' bar';\n\n            // Update IoT \n            const tsEl = document.getElementById(d.timeId);\n            if (tsEl) {\n              tsEl.textContent = 'Update: ' + formatTimeLabel(lastTs);\n            }\n          }\n        });\n\n        updateA11ySummary(lastTs);\n      }\n\n      function loadState() {\n        try {\n          const saved = localStorage.getItem('hmi_boiler_data');\n          if (saved) {\n            const data = JSON.parse(saved);\n            if (data.times && data.series && data.labels) {\n              STATE.times = data.times;\n              STATE.series = data.series;\n              STATE.labels = data.labels;\n              pruneOldPoints(Date.now() / 1000 - CONFIG.WINDOW_SECONDS);\n              updateStatusBoxes();\n              dirty = true;\n            }\n          }\n        } catch (e) {\n          console.warn('Failed to load state', e);\n        }\n      }\n\n      const ui = {\n        conn: document.getElementById('connection-status'),\n        legend: document.getElementById('legendButtons'),\n        canvas: document.getElementById('mainChart'),\n        dsEls: DATASETS.map(d => d.id ? document.getElementById(d.id) : null),\n        sendNoteBtn: document.getElementById('sendNoteBtn'),\n        noteText: document.getElementById('noteText'),\n        noteType: document.getElementById('noteType'),\n        noteStatus: document.getElementById('noteStatus'),\n        rangeText: document.getElementById('rangeText'),\n        chartSummary: document.getElementById('chartSummary'),\n        a11yIds: DATASETS.map(d => ({ val: document.getElementById(d.a11yId), time: document.getElementById(d.a11yTimeId) }))\n      };\n\n      const canvas = ui.canvas;\n      const ctx = canvas.getContext && canvas.getContext('2d');\n\n      let resizeObserver = null;\n      let gridCache = null;\n      let lastViewport = { w: 0, h: 0, dpr: 0 };\n\n      function fit() {\n        if (!canvas) return;\n        const container = canvas.parentElement;\n        const dpr = window.devicePixelRatio || 1;\n        const wLayout = container.clientWidth;\n        const hLayout = container.clientHeight;\n        const w = Math.max(1, Math.round(wLayout * dpr));\n        const h = Math.max(1, Math.round(hLayout * dpr));\n\n        if (canvas.width !== w || canvas.height !== h || lastViewport.dpr !== dpr || lastViewport.w !== wLayout || lastViewport.h !== hLayout) {\n          canvas.width = w; canvas.height = h;\n          canvas.style.width = wLayout + 'px';\n          canvas.style.height = hLayout + 'px';\n          if (ctx) ctx.setTransform(dpr, 0, 0, dpr, 0, 0);\n          lastViewport = { w: wLayout, h: hLayout, dpr };\n          buildGridCache();\n        }\n      }\n\n      window.addEventListener('resize', applyScale);\n      window.addEventListener('hmi-resize', fit);\n      window.addEventListener('resize', fit);\n\n      if (window.ResizeObserver && canvas && canvas.parentElement) {\n        try {\n          resizeObserver = new ResizeObserver(() => fit());\n          resizeObserver.observe(canvas.parentElement);\n        } catch (e) { console.warn('ResizeObserver disabled', e); }\n      }\n\n      function applyScale() {\n        const vw = Math.max(320, window.innerWidth);\n        const vh = Math.max(240, window.innerHeight);\n        const pad = 16;\n        const scale = Math.min((vw - pad) / 1024, (vh - pad) / 600, 1);\n        document.getElementById('app').style.transform = 'scale(' + scale + ')';\n        const top = Math.max(0, (vh - 600 * scale) / 2);\n        document.getElementById('app').style.marginTop = top + 'px';\n        window.dispatchEvent(new Event('hmi-resize'));\n      }\n\n      function buildGridCache() {\n        if (!canvas) return;\n        const container = canvas.parentElement;\n        const dpr = window.devicePixelRatio || 1;\n        const cssW = container.clientWidth, cssH = container.clientHeight;\n        const pixelW = Math.max(1, Math.round(cssW * dpr));\n        const pixelH = Math.max(1, Math.round(cssH * dpr));\n        const pad = CONFIG.PAD;\n        const yRows = 5, xCols = 6;\n\n        if (gridCache && lastViewport.w === cssW && lastViewport.h === cssH && lastViewport.dpr === dpr) return;\n\n        const c = document.createElement('canvas');\n        c.width = pixelW; c.height = pixelH;\n        const gctx = c.getContext('2d');\n\n        // Fill entire offscreen buffer with white to avoid compositing issues or transparent 'holes'\n        gctx.fillStyle = '#fff';\n        gctx.fillRect(0, 0, pixelW, pixelH);\n\n        gctx.setTransform(dpr, 0, 0, dpr, 0, 0);\n\n        const plotW = cssW - pad.l - pad.r;\n        const plotH = cssH - pad.t - pad.b;\n\n        gctx.strokeStyle = '#eef2f7'; gctx.lineWidth = 1;\n        for (let r = 0; r <= yRows; r++) {\n          const y = pad.t + (plotH * r / yRows) + 0.5;\n          gctx.beginPath(); gctx.moveTo(pad.l, y); gctx.lineTo(pad.l + plotW, y); gctx.stroke();\n        }\n        for (let ccol = 0; ccol <= xCols; ccol++) {\n          const x = pad.l + (plotW * ccol / xCols) + 0.5;\n          gctx.beginPath(); gctx.moveTo(x, pad.t); gctx.lineTo(x, pad.t + plotH); gctx.stroke();\n        }\n\n        gridCache = c;\n      }\n\n      function binarySearchInsertIndex(arr, ts) {\n        let lo = 0, hi = arr.length;\n        while (lo < hi) {\n          const mid = (lo + hi) >> 1;\n          if (arr[mid] < ts) lo = mid + 1; else hi = mid;\n        }\n        return lo;\n      }\n\n      // FIX: Y axis static 0-30\n      function computePressureRange() {\n        return { min: 0, max: 30 };\n      }\n\n      function formatTimeLabel(ts) {\n        try { return new Date(ts * 1000).toLocaleTimeString('id-ID', { hour: '2-digit', minute: '2-digit', second: '2-digit' }); } catch (e) { return new Date(ts * 1000).toLocaleTimeString(); }\n      }\n\n      function pruneOldPoints(cutoffTs) {\n        if (!STATE.times.length) return;\n        const idx = binarySearchInsertIndex(STATE.times, cutoffTs);\n        if (idx > 0) {\n          STATE.times = STATE.times.slice(idx);\n          STATE.labels = STATE.labels.slice(idx);\n          for (let s = 0; s < STATE.series.length; s++) STATE.series[s] = STATE.series[s].slice(idx);\n        }\n        if (STATE.times.length > CONFIG.MAX_POINTS) {\n          const extra = STATE.times.length - CONFIG.MAX_POINTS;\n          STATE.times = STATE.times.slice(extra);\n          STATE.labels = STATE.labels.slice(extra);\n          for (let s = 0; s < STATE.series.length; s++) STATE.series[s] = STATE.series[s].slice(extra);\n        }\n      }\n\n      function insertAt(idx, ts, label, values) {\n        if (idx === STATE.times.length) {\n          STATE.times.push(ts);\n          STATE.labels.push(label);\n          for (let s = 0; s < STATE.series.length; s++) STATE.series[s].push(values[s]);\n        } else {\n          STATE.times.splice(idx, 0, ts);\n          STATE.labels.splice(idx, 0, label);\n          for (let s = 0; s < STATE.series.length; s++) STATE.series[s].splice(idx, 0, values[s]);\n        }\n      }\n\n      function getNested(obj, path) { try { return path.split('.').reduce((o, p) => o != null ? o[p] : null, obj); } catch (e) { return null; } }\n\n      function updateA11ySummary(ts) {\n        const tStr = formatTimeLabel(ts);\n        DATASETS.forEach((d, i) => {\n          const a = ui.a11yIds[i];\n          const arr = STATE.series[i];\n          let last = null;\n          for (let k = arr.length - 1; k >= 0; k--) {\n            const v = arr[k];\n            if (typeof v === 'number') { last = v; break; }\n          }\n          if (a && a.val) a.val.textContent = last == null ? '\u2014' : Number(last).toFixed(2);\n          if (a && a.time) a.time.textContent = tStr;\n        });\n\n        const parts = DATASETS.map((d, i) => {\n          const arr = STATE.series[i];\n          let last = null;\n          for (let k = arr.length - 1; k >= 0; k--) {\n            const v = arr[k];\n            if (typeof v === 'number') { last = v; break; }\n          }\n          return `${d.label}: ${last == null ? 'kosong' : Number(last).toFixed(2) + ' bar'}`;\n        });\n        ui.chartSummary.textContent = `Update ${tStr}. ${parts.join('. ')}.`;\n      }\n\n      function pushPayload(payload, tsInput) {\n        let ts = null;\n        if (typeof tsInput === 'number' && isFinite(tsInput)) ts = tsInput;\n        else if (payload && typeof payload.ts === 'number' && isFinite(payload.ts)) ts = payload.ts;\n        else if (payload && payload.time) {\n          const parsed = Date.parse(payload.time);\n          if (!isNaN(parsed)) ts = parsed / 1000;\n        }\n        if (ts == null || !isFinite(ts)) ts = Date.now() / 1000;\n\n        const label = new Date(ts * 1000).toLocaleTimeString('id-ID', { hour: '2-digit', minute: '2-digit', second: '2-digit' });\n\n        const values = [];\n        DATASETS.forEach((d) => {\n          const raw = getNested(payload, d.field);\n          let v = null;\n          if (raw == null) v = null;\n          else if (typeof raw === 'number') v = raw;\n          else { const n = Number(raw); v = Number.isFinite(n) ? n : null; }\n          values.push(v);\n        });\n\n        const idx = binarySearchInsertIndex(STATE.times, ts);\n        insertAt(idx, ts, label, values);\n        pruneOldPoints(ts - CONFIG.WINDOW_SECONDS);\n\n        updateStatusBoxes();\n\n        saveState();\n        dirty = true;\n      }\n\n      function draw(displayNowSec) {\n        if (!ctx) return;\n        fit();\n        const dpr = window.devicePixelRatio || 1;\n        const cssW = canvas.parentElement.clientWidth;\n        const cssH = canvas.parentElement.clientHeight;\n        const pad = CONFIG.PAD;\n        const plotW = cssW - pad.l - pad.r;\n        const plotH = cssH - pad.t - pad.b;\n\n        // Pixel-perfect clear and grid draw to avoid scaling ghosting/artifacts\n        ctx.save();\n        ctx.setTransform(1, 0, 0, 1, 0, 0);\n        ctx.clearRect(0, 0, canvas.width, canvas.height);\n        if (gridCache) {\n          ctx.drawImage(gridCache, 0, 0);\n        } else {\n          ctx.fillStyle = '#fff';\n          ctx.fillRect(0, 0, canvas.width, canvas.height);\n        }\n        ctx.restore();\n\n        // High-level drawing with DPR transform\n        ctx.setTransform(dpr, 0, 0, dpr, 0, 0);\n\n        let endTime = displayNowSec;\n        let startTime = endTime - CONFIG.WINDOW_SECONDS;\n\n        if (STATE.times.length > 0) {\n          const first = STATE.times[0];\n          const last = STATE.times[STATE.times.length - 1];\n          const dataSpan = last - first;\n          if (dataSpan < CONFIG.WINDOW_SECONDS) {\n            startTime = first;\n            endTime = startTime + CONFIG.WINDOW_SECONDS;\n          } else {\n            endTime = Math.max(endTime, last);\n            startTime = endTime - CONFIG.WINDOW_SECONDS;\n          }\n        }\n\n        pruneOldPoints(startTime);\n\n        // Y fixed 0..30\n        const pr = { min: 0, max: 30 };\n        ui.rangeText && (ui.rangeText.textContent = `Y: ${pr.min.toFixed(0)}\u2013${pr.max.toFixed(0)} bar \u00b7 X: 60 menit`);\n\n        // Draw Y labels (5 rows)\n        ctx.fillStyle = '#374151'; ctx.font = '12px ' + (navigator.userAgent.indexOf('Windows') >= 0 ? 'Arial' : 'system-ui');\n        ctx.textAlign = 'right'; ctx.textBaseline = 'middle';\n        const yRows = 5;\n        for (let r = 0; r <= yRows; r++) {\n          const frac = 1 - (r / yRows);\n          const val = pr.min + (pr.max - pr.min) * frac;\n          const y = pad.t + (plotH * r / yRows);\n          ctx.fillText(Number(val.toFixed(2)) + ' bar', pad.l - 10, y);\n        }\n\n        ctx.save(); ctx.translate(14, pad.t + plotH / 2); ctx.rotate(-Math.PI / 2); ctx.textAlign = 'center'; ctx.fillStyle = '#111827'; ctx.font = '13px system-ui'; ctx.fillText('Pressure (bar)', 0, -8); ctx.restore();\n\n        const startIdx = binarySearchInsertIndex(STATE.times, startTime);\n        const endIdx = binarySearchInsertIndex(STATE.times, endTime + 0.000001);\n        const visibleCount = Math.max(0, endIdx - startIdx);\n\n        const labelFont = 'bold 12px Arial, sans-serif'; // Bolder\n        const labelColor = '#000';\n        ctx.font = labelFont;\n        ctx.fillStyle = labelColor;\n        const bottomOffset = 18;\n\n        if (!visibleCount) {\n\n          const labelCount = 10;\n          for (let k = 0; k < labelCount; k++) {\n            const frac = k / Math.max(1, labelCount - 1);\n            const ts = startTime + frac * (endTime - startTime);\n            const x = pad.l + plotW * frac;\n            const y = pad.t + plotH + bottomOffset;\n\n            ctx.save();\n            ctx.translate(x, y);\n            ctx.rotate(-Math.PI / 8);\n            ctx.textAlign = 'right';\n            ctx.textBaseline = 'middle';\n            ctx.fillStyle = labelColor;\n            ctx.font = labelFont;\n            ctx.fillText(formatTimeLabel(ts), 0, 0);\n            ctx.restore();\n          }\n        } else {\n\n          const timeSpan = endTime - startTime;\n          const labelInterval = 120; // 5 minutes (300 seconds)\n\n          let firstLabelTime = Math.ceil(startTime / labelInterval) * labelInterval;\n\n          for (let t = firstLabelTime; t <= endTime; t += labelInterval) {\n            const fracX = (t - startTime) / timeSpan;\n            if (fracX < 0 || fracX > 1) continue;\n\n            const x = pad.l + plotW * fracX;\n            const y = pad.t + plotH + bottomOffset;\n\n            ctx.save();\n            ctx.translate(x, y);\n            ctx.rotate(-Math.PI / 8);\n            ctx.textAlign = 'right';\n            ctx.textBaseline = 'middle';\n            ctx.fillStyle = labelColor;\n            ctx.font = labelFont;\n            ctx.fillText(formatTimeLabel(t), 0, 0);\n            ctx.restore();\n          }\n        }\n\n        // draw datasets\n        for (let si = 0; si < DATASETS.length; si++) {\n          if (!STATE.visible[si]) continue;\n          const d = DATASETS[si];\n          const times = STATE.times;\n          const arr = STATE.series[si];\n          if (!times.length) continue;\n\n          ctx.beginPath(); ctx.lineWidth = 2; ctx.strokeStyle = d.color; ctx.fillStyle = d.color;\n          let started = false;\n          for (let j = startIdx; j < endIdx; j++) {\n            const t = times[j];\n            const v = arr[j];\n            if (t == null || v == null || isNaN(v)) { started = false; continue; }\n            if (t < startTime || t > endTime) { started = false; continue; }\n            const fracX = (t - startTime) / (endTime - startTime);\n            const x = pad.l + plotW * fracX;\n            const norm = (v - pr.min) / Math.max(0.000001, (pr.max - pr.min));\n            const y = pad.t + plotH * (1 - Math.max(0, Math.min(1, norm)));\n            if (!started) { ctx.moveTo(x, y); started = true; } else ctx.lineTo(x, y);\n          }\n          ctx.stroke();\n\n          ctx.save(); ctx.fillStyle = d.color;\n          let visiblePts = Math.max(1, endIdx - startIdx);\n          const sampling = Math.max(1, Math.floor(visiblePts / 300));\n          for (let j = startIdx; j < endIdx; j += sampling) {\n            const t = times[j];\n            const v = arr[j];\n            if (t == null || v == null || isNaN(v)) continue;\n            const fracX = (t - startTime) / (endTime - startTime);\n            const x = pad.l + plotW * fracX;\n            const norm = (v - pr.min) / Math.max(0.000001, (pr.max - pr.min));\n            const y = pad.t + plotH * (1 - Math.max(0, Math.min(1, norm)));\n            ctx.beginPath(); ctx.arc(x, y, 2.2, 0, Math.PI * 2); ctx.fill();\n          }\n          ctx.restore();\n        }\n\n        ctx.fillStyle = '#111827'; ctx.font = '13px system-ui'; ctx.textAlign = 'left';\n        ctx.strokeStyle = '#e6e6e6'; ctx.lineWidth = 1; ctx.strokeRect(Math.round(pad.l) + 0.5, Math.round(pad.t) + 0.5, Math.round(plotW) - 1, Math.round(plotH) - 1);\n      }\n\n      let raf = null;\n      let lastFrameTime = 0;\n      let lastFullDraw = 0;\n      const frameInterval = 1000 / CONFIG.TARGET_FPS;\n      let dirty = true;\n\n      function anim(now) {\n        if (!now) now = performance.now();\n        if (now - lastFrameTime >= frameInterval) {\n          if (dirty || (now - lastFullDraw >= 1000)) {\n            lastFrameTime = now - ((now - lastFrameTime) % frameInterval);\n            const nowSec = Date.now() / 1000;\n            draw(nowSec);\n            dirty = false;\n            lastFullDraw = now;\n          }\n        }\n        raf = requestAnimationFrame(anim);\n      }\n\n      function renderLegend() {\n        ui.legend.innerHTML = '';\n        DATASETS.forEach((d, i) => {\n          const btn = document.createElement('button');\n          btn.className = 'legend-button ' + (d.css || '');\n          btn.style.background = d.color;\n          btn.textContent = d.label;\n          btn.dataset.i = i;\n          btn.setAttribute('aria-pressed', String(!!STATE.visible[i]));\n          btn.setAttribute('aria-label', `Toggle ${d.label} series`);\n          btn.title = d.label;\n          if (!STATE.visible[i]) btn.classList.add('hidden');\n          btn.addEventListener('click', () => {\n            const idx = Number(btn.dataset.i);\n            STATE.visible[idx] = !STATE.visible[idx];\n            btn.classList.toggle('hidden', !STATE.visible[idx]);\n            btn.setAttribute('aria-pressed', String(!!STATE.visible[idx]));\n            dirty = true;\n          });\n          ui.legend.appendChild(btn);\n        });\n        fit();\n      }\n      renderLegend();\n\n      function wsUrl() { if (window.HMI_WS_URL) return window.HMI_WS_URL; const proto = (location.protocol === 'https:') ? 'wss:' : 'ws:'; return proto + '//' + location.host + CONFIG.WS_PATH; }\n      function setConn(connected) { ui.conn.textContent = connected ? 'CONNECTED' : 'DISCONNECTED'; ui.conn.classList.toggle('connected', connected); ui.conn.classList.toggle('disconnected', !connected); ui.conn.classList.remove('simulating'); }\n      function setSimulating() { ui.conn.textContent = 'SIMULATING'; ui.conn.classList.add('simulating'); ui.conn.classList.remove('connected'); ui.conn.classList.remove('disconnected'); }\n\n      function scheduleReconnect() {\n        STATE.reconnectAttempts = (STATE.reconnectAttempts || 0) + 1;\n        const base = STATE.reconnectAttempts <= 2 ? 500 : 1000;\n        const delay = Math.min(base * Math.pow(2, Math.min(STATE.reconnectAttempts, 6)), 30000);\n        if (STATE.reconnectTimer) clearTimeout(STATE.reconnectTimer);\n        STATE.reconnectTimer = setTimeout(connectWS, delay);\n      }\n\n      function connectWS() {\n        if (STATE.ws && (STATE.ws.readyState === WebSocket.OPEN || STATE.ws.readyState === WebSocket.CONNECTING)) return;\n        try { STATE.ws = new WebSocket(wsUrl()); } catch (e) { console.warn('WS create error', e); setConn(false); scheduleReconnect(); return; }\n        STATE.ws.onopen = () => { STATE.reconnectAttempts = 0; setConn(true); if (STATE.reconnectTimer) { clearTimeout(STATE.reconnectTimer); STATE.reconnectTimer = null; } };\n        STATE.ws.onmessage = (evt) => { try { const j = JSON.parse(evt.data); let ts = null; if (j && (typeof j.ts === 'number')) ts = j.ts; else if (j && j.time) { const p = Date.parse(j.time); if (!isNaN(p)) ts = p / 1000; } pushPayload(j, ts); } catch (e) { console.warn('Invalid message', e); } };\n        STATE.ws.onclose = () => { setConn(false); scheduleReconnect(); };\n        STATE.ws.onerror = (err) => { console.error('WS error', err); };\n      }\n      setConn(false); connectWS();\n\n      ui.sendNoteBtn && ui.sendNoteBtn.addEventListener('click', () => {\n        const text = ui.noteText.value.trim(); const type = ui.noteType.value;\n        if (!text) { alert('Keterangan kosong'); return; }\n        const payload = { cmd: 'note', type, text, time: new Date().toISOString() };\n        if (STATE.ws && STATE.ws.readyState === WebSocket.OPEN) {\n          STATE.ws.send(JSON.stringify(payload));\n          ui.noteStatus.textContent = 'Laporan terkirim'; ui.noteStatus.className = 'note-status success'; ui.noteText.value = '';\n          setTimeout(() => { ui.noteStatus.textContent = ''; ui.noteStatus.className = 'note-status'; }, 3000);\n        } else {\n          ui.noteStatus.textContent = 'WS tidak terhubung'; ui.noteStatus.className = 'note-status error';\n          setTimeout(() => { ui.noteStatus.textContent = ''; ui.noteStatus.className = 'note-status'; }, 3000);\n        }\n      });\n\n      window.__hmi = { pushPayload, STATE, CONFIG };\n\n      function cleanup() {\n        try { if (raf) cancelAnimationFrame(raf); } catch (e) { }\n        try { if (STATE.ws) STATE.ws.close(); } catch (e) { }\n        try { if (STATE.reconnectTimer) clearTimeout(STATE.reconnectTimer); } catch (e) { }\n        try { if (resizeObserver) { resizeObserver.disconnect(); resizeObserver = null; } } catch (e) { }\n        try { window.removeEventListener('resize', applyScale); window.removeEventListener('hmi-resize', fit); window.removeEventListener('resize', fit); } catch (e) { }\n      }\n      window.addEventListener('beforeunload', cleanup);\n\n      loadState();\n      fit();\n      if (!raf) raf = requestAnimationFrame(anim);\n\n    })();\n  </script>\n</body>\n\n</html>",
        "output": "str",
        "x": 770,
        "y": 120,
        "wires": [
            [
                "1d28b8a3a57c4d33"
            ]
        ]
    },
    {
        "id": "2e736dd30e2dec06",
        "type": "websocket-listener",
        "path": "/ws/mqtt",
        "wholemsg": "false"
    },
    {
        "id": "3c86402f96328ba7",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "database",
        "name": "",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://influxdb:8086",
        "timeout": "",
        "rejectUnauthorized": true
    }
]