HMI-STR.json
[
    {
        "id": "1a2b3c4d.000001",
        "type": "http in",
        "z": "98b48b68f5e69a87",
        "name": "GET /display",
        "url": "/display",
        "method": "get",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 310,
        "y": 140,
        "wires": [
            [
                "09521fa70281d95e"
            ]
        ]
    },
    {
        "id": "3c4d5e6f.000003",
        "type": "http response",
        "z": "98b48b68f5e69a87",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 610,
        "y": 140,
        "wires": []
    },
    {
        "id": "09521fa70281d95e",
        "type": "template",
        "z": "98b48b68f5e69a87",
        "name": "STR",
        "field": "payload",
        "fieldType": "msg",
        "format": "html",
        "syntax": "mustache",
        "template": "<!DOCTYPE html>\n<html lang=\"id\">\n\n<head>\n  <meta charset=\"utf-8\" />\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0, viewport-fit=cover\">\n  <title>Display Monitoring - HMI 10\"</title>\n\n  <style>\n    :root {\n      --design-w: 1024;\n      --design-h: 600;\n      --bg: #f8f9fb;\n      --card: #fff;\n      --border-color: #e0e0e0;\n      --text-color: #222;\n      --muted: #6b7280;\n      --green: #28a745;\n      --red: #dc3545;\n      --blue: #007bff;\n      --orange: #fd7e14;\n      --radius: 8px;\n      --ui-font: \"Inter\", system-ui, -apple-system, \"Segoe UI\", Roboto, Arial;\n    }\n\n    .app,\n    .app * {\n      -webkit-user-select: none;\n      -moz-user-select: none;\n      -ms-user-select: none;\n      user-select: none;\n      -webkit-touch-callout: none;\n      -webkit-user-drag: none;\n    }\n\n    .app input,\n    .app textarea,\n    .app select,\n    .app .allow-select {\n      -webkit-user-select: text !important;\n      -moz-user-select: text !important;\n      -ms-user-select: text !important;\n      user-select: text !important;\n    }\n\n\n    .app button {\n      -webkit-user-select: none;\n      user-select: none;\n    }\n\n    html,\n    body {\n      height: 100%;\n      margin: 0;\n      padding: 0;\n      background: var(--bg);\n      font-family: var(--ui-font);\n      -webkit-font-smoothing: antialiased;\n      -moz-osx-font-smoothing: grayscale;\n      overflow: auto;\n    }\n\n    .viewport {\n      width: 100%;\n      height: 100%;\n      display: flex;\n      align-items: center;\n      justify-content: center;\n      padding: 8px;\n      box-sizing: border-box;\n      background: var(--bg);\n    }\n\n    .app {\n      width: calc(var(--design-w)*1px);\n      height: calc(var(--design-h)*1px);\n      background: var(--card);\n      border-radius: calc(var(--radius)+2px);\n      padding: 10px;\n      box-sizing: border-box;\n      display: flex;\n      flex-direction: column;\n      gap: 8px;\n      transform-origin: top center;\n      box-shadow: 0 10px 30px rgba(0, 0, 0, .08);\n      border: 1px solid var(--border-color);\n      overflow: hidden;\n    }\n\n    header {\n      display: flex;\n      justify-content: center;\n      align-items: center;\n      position: relative;\n      padding: 4px 8px;\n    }\n\n    .header-title {\n      font-size: 20px;\n      font-weight: 800;\n      letter-spacing: .6px;\n    }\n\n    #connection-status {\n      position: absolute;\n      right: 10px;\n      top: 8px;\n      font-size: 13px;\n      font-weight: 800;\n      padding: 6px 10px;\n      border-radius: 10px;\n      color: #fff;\n    }\n\n    #connection-status.connected {\n      background: var(--green);\n    }\n\n    #connection-status.disconnected {\n      background: var(--red);\n    }\n\n    #connection-status.simulating {\n      background: var(--orange);\n    }\n\n    .status-row {\n      display: flex;\n      gap: 10px;\n      align-items: stretch;\n      flex: 0 0 auto;\n      min-height: 0;\n    }\n\n    .status-box {\n      flex: 1 1 0;\n      min-width: 0;\n      background: #fff;\n      border: 1px solid var(--border-color);\n      border-radius: 10px;\n      padding: 5px;\n      text-align: center;\n      font-size: 15px;\n      box-sizing: border-box;\n    }\n\n    .status-box strong {\n      display: block;\n      margin-bottom: 6px;\n      font-size: 15px;\n      color: var(--text-color);\n    }\n\n    .status-box .value {\n      font-weight: 800;\n      color: #111;\n      font-size: 15px;\n    }\n\n    .chart-area {\n      display: flex;\n      flex-direction: column;\n      gap: 8px;\n      flex: 1 1 auto;\n      min-height: 0;\n    }\n\n    .chart-card {\n      display: flex;\n      flex-direction: column;\n      width: 100%;\n      height: auto;\n      min-height: 0;\n      flex: 1 1 auto;\n      background: var(--card);\n      border-radius: 10px;\n      padding: 0px;\n      box-sizing: border-box;\n      position: relative;\n      overflow: hidden;\n    }\n\n    .chart-header {\n      display: flex;\n      align-items: center;\n      justify-content: space-between;\n      gap: 8px;\n      padding: 8px 12px;\n    }\n\n    .chart-title {\n      font-weight: 800;\n      font-size: 16px;\n    }\n\n    .range-text {\n      color: var(--muted);\n      font-size: 13px;\n    }\n\n    .legend-container {\n      display: flex;\n      justify-content: center;\n      gap: 15px;\n      align-items: center;\n      padding: 0;\n      flex-wrap: wrap;\n      margin-bottom: 2px;\n    }\n\n    .legend-button {\n      border: none;\n      border-radius: 999px;\n      color: #fff;\n      font-weight: 800;\n      padding: 8px 12px;\n      cursor: pointer;\n      font-size: 13px;\n      display: inline-flex;\n      align-items: center;\n      gap: 8px;\n      white-space: nowrap;\n      box-shadow: 0 6px 14px rgba(0, 0, 0, .08);\n    }\n\n    .legend-button.hidden {\n      opacity: .34;\n      filter: grayscale(1);\n      box-shadow: none;\n    }\n\n    .legend-button:focus {\n      outline: 3px solid rgba(17, 24, 39, 0.12);\n      outline-offset: 3px;\n    }\n\n    .chart-canvas {\n      position: relative;\n      width: 100%;\n      height: 100%;\n      min-height: 270px;\n      display: block;\n      flex: 1 1 auto;\n      z-index: 1;\n    }\n\n    .chart-canvas canvas {\n      width: 100% !important;\n      height: 100% !important;\n      display: block;\n      border-radius: 6px;\n      background: #fff;\n      /* make canvas non-draggable as extra safety */\n      -webkit-user-drag: none;\n      user-drag: none;\n    }\n\n    .note {\n      display: flex;\n      gap: 12px;\n      align-items: flex-start;\n      background: #f6f6f7;\n      border-radius: 10px;\n      padding: 12px;\n      border: 1px solid #e6e6e6;\n      box-sizing: border-box;\n      flex: 0 0 auto;\n      position: relative;\n      z-index: 2;\n    }\n\n    .note-left {\n      width: 65%;\n    }\n\n    .note-right {\n      width: 35%;\n      display: flex;\n      flex-direction: column;\n      gap: 8px;\n    }\n\n    select,\n    textarea,\n    input {\n      width: 100%;\n      padding: 10px;\n      border-radius: 8px;\n      border: 1px solid #cfcfcf;\n      box-sizing: border-box;\n      font-size: 14px;\n      font-family: var(--ui-font);\n      /* Ensure form controls remain selectable */\n      -webkit-user-select: text !important;\n      -moz-user-select: text !important;\n      -ms-user-select: text !important;\n      user-select: text !important;\n    }\n\n    button {\n      background: var(--blue);\n      color: #fff;\n      border: none;\n      padding: 10px 14px;\n      border-radius: 8px;\n      cursor: pointer;\n      font-weight: 800;\n      font-size: 15px;\n    }\n\n    .note-status {\n      font-size: 13px;\n      font-weight: 800;\n    }\n\n    .note-status.success {\n      color: var(--green);\n    }\n\n    .note-status.error {\n      color: var(--red);\n    }\n\n    .sr-only {\n      position: absolute !important;\n      height: 1px;\n      width: 1px;\n      overflow: hidden;\n      clip: rect(1px, 1px, 1px, 1px);\n      white-space: nowrap;\n      clip-path: inset(50%);\n      border: 0;\n      padding: 0;\n      margin: -1px;\n    }\n\n    @media (max-width:980px) {\n      .app {\n        transform-origin: top left;\n      }\n\n      .status-row {\n        flex-direction: column;\n      }\n\n      .note-left,\n      .note-right {\n        width: 100%\n      }\n\n      .note {\n        flex-direction: column\n      }\n\n      .chart-canvas {\n        min-height: 200px;\n      }\n    }\n  </style>\n</head>\n\n<body>\n  <div class=\"viewport\">\n    <div class=\"app\" id=\"app\" aria-label=\"Display Monitoring Dashboard\">\n      <header>\n        <div class=\"header-title\">DISPLAY MONITORING</div>\n        <div id=\"connection-status\" class=\"disconnected\" role=\"status\" aria-live=\"polite\">DISCONNECTED</div>\n      </header>\n\n      <div class=\"status-row\" aria-label=\"Status\">\n        <div class=\"status-box\">\n          <strong id=\"ds-label-bpv\">BPV</strong>\n          <div id=\"ds-pressure-bpv\" class=\"value\">Pressure: -- bar</div>\n        </div>\n\n        <div class=\"status-box\">\n          <strong id=\"ds-label-str5\">Sterilizer 5</strong>\n          <div id=\"ds-pressure-str5\" class=\"value\">Pressure: -- bar</div>\n        </div>\n\n        <div class=\"status-box\">\n          <strong id=\"ds-label-str6\">Sterilizer 6</strong>\n          <div id=\"ds-pressure-str6\" class=\"value\">Pressure: -- bar</div>\n        </div>\n\n        <div class=\"status-box\">\n          <strong id=\"ds-label-str7\">Sterilizer 7</strong>\n          <div id=\"ds-pressure-str7\" class=\"value\">Pressure: -- bar</div>\n        </div>\n      </div>\n\n      <div class=\"chart-area\" aria-label=\"Chart area\">\n        <div class=\"chart-card\">\n          <div id=\"legendButtons\" class=\"legend-container\" role=\"toolbar\" aria-label=\"Chart Legend\"></div>\n\n          <div class=\"chart-canvas\" aria-hidden=\"false\">\n            <!-- canvas set draggable=\"false\" for extra safety -->\n            <canvas id=\"mainChart\" aria-label=\"Grafik tekanan\" draggable=\"false\"></canvas>\n          </div>\n        </div>\n      </div>\n\n      <div class=\"note\" role=\"region\" aria-label=\"Laporan Gangguan / Catatan\">\n        <div class=\"note-left\">\n          <label for=\"noteType\">Laporan Gangguan / Catatan</label>\n          <select id=\"noteType\" aria-label=\"Tipe laporan\">\n            <option value=\"operational\">Operational hour</option>\n            <option value=\"maintenance\">Maintenance</option>\n            <option value=\"blades\">Blades</option>\n          </select>\n          <label for=\"noteText\" style=\"margin-top:8px;\">Keterangan:</label>\n          <!-- textarea remains selectable and editable -->\n          <textarea id=\"noteText\" rows=\"4\" placeholder=\"Tulis catatan di sini...\" aria-label=\"Keterangan\"></textarea>\n        </div>\n        <div class=\"note-right\">\n          <div style=\"font-weight:800;\">Aksi</div>\n          <button id=\"sendNoteBtn\" type=\"button\" aria-label=\"Kirim Laporan\">Kirim Laporan</button>\n          <div id=\"noteStatus\" class=\"note-status\" aria-live=\"polite\"></div>\n        </div>\n      </div>\n\n      <div id=\"chartSummary\" class=\"sr-only\" aria-live=\"polite\" aria-atomic=\"true\"></div>\n\n      <table id=\"a11y-data\" class=\"sr-only\" aria-hidden=\"false\">\n        <caption>Nilai tekanan terakhir</caption>\n        <thead>\n          <tr>\n            <th>Sensor</th>\n            <th>Tekanan (bar)</th>\n            <th>Waktu</th>\n          </tr>\n        </thead>\n        <tbody>\n          <tr>\n            <td>BPV</td>\n            <td id=\"a11y-bpv\">—</td>\n            <td id=\"a11y-bpv-time\">—</td>\n          </tr>\n          <tr>\n            <td>Sterilizer 5</td>\n            <td id=\"a11y-str5\">—</td>\n            <td id=\"a11y-str5-time\">—</td>\n          </tr>\n          <tr>\n            <td>Sterilizer 6</td>\n            <td id=\"a11y-str6\">—</td>\n            <td id=\"a11y-str6-time\">—</td>\n          </tr>\n          <tr>\n            <td>Sterilizer 7</td>\n            <td id=\"a11y-str7\">—</td>\n            <td id=\"a11y-str7-time\">—</td>\n          </tr>\n        </tbody>\n      </table>\n\n    </div>\n  </div>\n\n  <script>\n    /* Prevent dragstart & selectstart for non-form elements.\n       Allow form controls (input/select/textarea) to behave normally.\n       This JS is defensive — CSS handles most cases, but JS prevents\n       cases where browsers still allow dragging or selection via events. */\n    (function () {\n      document.addEventListener('dragstart', function (e) {\n        // allow drag if target is a form control (rare) or has attribute draggable=\"true\"\n        if (e.target && (e.target.closest('input,textarea,select') || e.target.getAttribute('draggable') === 'true')) return;\n        e.preventDefault();\n      }, { passive: false });\n\n      document.addEventListener('selectstart', function (e) {\n        // allow selection if inside input/textarea/select or explicitly allowed\n        if (e.target && (e.target.closest('input,textarea,select') || e.target.closest('.allow-select'))) return;\n        e.preventDefault();\n      }, { passive: false });\n\n      // also prevent touch callout (long-press) on Android/iOS where CSS might not be enough\n      document.addEventListener('touchstart', function (e) {\n        // no-op; keeping listener present avoids some long-press defaults on certain webviews\n      }, { passive: true });\n    })();\n\n    /* (Below: the rest of your original JS can remain unchanged) */\n    (function () {\n      /* ---------- CONFIG: set X window = 30 minutes (1800s), Y fixed 0-6 ---------- */\n      const CONFIG = {\n        MAX_POINTS: 50,\n        WINDOW_SECONDS: 5 * 60, // 30 minutes (note: kept the original value as in your file)\n        WS_PATH: '/ws/mqtt',\n        TARGET_FPS: 25\n      };\n\n      const DATASETS = [\n        { label: 'BPV', field: 'bpv', color: '#8e44ad', id: 'ds-pressure-bpv', css: 'c-bpv', a11yId: 'a11y-bpv', a11yTimeId: 'a11y-bpv-time' },\n        { label: 'Sterilizer 5', field: 'sterilizer.5', color: '#0b8b10', id: 'ds-pressure-str5', css: 'c-ster5', a11yId: 'a11y-str5', a11yTimeId: 'a11y-str5-time' },\n        { label: 'Sterilizer 6', field: 'sterilizer.6', color: '#004bff', id: 'ds-pressure-str6', css: 'c-ster6', a11yId: 'a11y-str6', a11yTimeId: 'a11y-str6-time' },\n        { label: 'Sterilizer 7', field: 'sterilizer.7', color: '#1fa3a3', id: 'ds-pressure-str7', css: 'c-ster7', a11yId: 'a11y-str7', a11yTimeId: 'a11y-str7-time' }\n      ];\n\n      const STATE = {\n        times: [],\n        series: DATASETS.map(() => []),\n        labels: [],\n        visible: DATASETS.map(() => true),\n        ws: null,\n        reconnectTimer: null,\n        reconnectAttempts: 0\n      };\n\n      const ui = {\n        conn: document.getElementById('connection-status'),\n        legend: document.getElementById('legendButtons'),\n        canvas: document.getElementById('mainChart'),\n        dsEls: DATASETS.map(d => d.id ? document.getElementById(d.id) : null),\n        sendNoteBtn: document.getElementById('sendNoteBtn'),\n        noteText: document.getElementById('noteText'),\n        noteType: document.getElementById('noteType'),\n        noteStatus: document.getElementById('noteStatus'),\n        rangeText: document.getElementById('rangeText'),\n        chartSummary: document.getElementById('chartSummary'),\n        a11yIds: DATASETS.map(d => ({ val: document.getElementById(d.a11yId), time: document.getElementById(d.a11yTimeId) }))\n      };\n\n      const canvas = ui.canvas;\n      const ctx = canvas.getContext && canvas.getContext('2d');\n\n      let resizeObserver = null;\n      let gridCache = null;\n      let lastViewport = { w: 0, h: 0, dpr: 0 };\n\n      function fit() {\n        if (!canvas) return;\n        const container = canvas.parentElement;\n        const rect = container.getBoundingClientRect();\n        const dpr = window.devicePixelRatio || 1;\n        const w = Math.max(1, Math.round(rect.width * dpr));\n        const h = Math.max(1, Math.round(rect.height * dpr));\n        if (canvas.width !== w || canvas.height !== h || lastViewport.dpr !== dpr || lastViewport.w !== rect.width || lastViewport.h !== rect.height) {\n          canvas.width = w; canvas.height = h;\n          canvas.style.width = rect.width + 'px';\n          canvas.style.height = rect.height + 'px';\n          if (ctx) ctx.setTransform(dpr, 0, 0, dpr, 0, 0);\n          lastViewport = { w: rect.width, h: rect.height, dpr };\n          buildGridCache();\n        }\n      }\n\n      window.addEventListener('resize', applyScale);\n      window.addEventListener('hmi-resize', fit);\n      window.addEventListener('resize', fit);\n\n      if (window.ResizeObserver && canvas && canvas.parentElement) {\n        try {\n          resizeObserver = new ResizeObserver(() => fit());\n          resizeObserver.observe(canvas.parentElement);\n        } catch (e) { console.warn('ResizeObserver disabled', e); }\n      }\n\n      function applyScale() {\n        const vw = Math.max(320, window.innerWidth);\n        const vh = Math.max(240, window.innerHeight);\n        const pad = 16;\n        const scale = Math.min((vw - pad) / 1024, (vh - pad) / 600, 1);\n        document.getElementById('app').style.transform = 'scale(' + scale + ')';\n        const top = Math.max(0, (vh - 600 * scale) / 2);\n        document.getElementById('app').style.marginTop = top + 'px';\n        window.dispatchEvent(new Event('hmi-resize'));\n      }\n\n      function buildGridCache() {\n        if (!canvas) return;\n        const container = canvas.parentElement;\n        const rect = container.getBoundingClientRect();\n        const dpr = window.devicePixelRatio || 1;\n        const cssW = rect.width, cssH = rect.height;\n        const pixelW = Math.max(1, Math.round(cssW * dpr));\n        const pixelH = Math.max(1, Math.round(cssH * dpr));\n        const pad = { l: 68, r: 10, t: 12, b: 80 };\n        const yRows = 5, xCols = 6;\n\n        if (gridCache && lastViewport.w === cssW && lastViewport.h === cssH && lastViewport.dpr === dpr) return;\n\n        const c = document.createElement('canvas');\n        c.width = pixelW; c.height = pixelH;\n        c.style.width = cssW + 'px'; c.style.height = cssH + 'px';\n        const gctx = c.getContext('2d');\n        gctx.setTransform(dpr, 0, 0, dpr, 0, 0);\n\n        const plotW = cssW - pad.l - pad.r;\n        const plotH = cssH - pad.t - pad.b;\n        gctx.fillStyle = '#fff';\n        gctx.fillRect(pad.l - 1, pad.t - 1, plotW + 2, plotH + 2);\n\n        gctx.strokeStyle = '#eef2f7'; gctx.lineWidth = 1;\n        for (let r = 0; r <= yRows; r++) {\n          const y = pad.t + (plotH * r / yRows) + 0.5;\n          gctx.beginPath(); gctx.moveTo(pad.l, y); gctx.lineTo(pad.l + plotW, y); gctx.stroke();\n        }\n        for (let ccol = 0; ccol <= xCols; ccol++) {\n          const x = pad.l + (plotW * ccol / xCols) + 0.5;\n          gctx.beginPath(); gctx.moveTo(x, pad.t); gctx.lineTo(x, pad.t + plotH); gctx.stroke();\n        }\n\n        gridCache = c;\n      }\n\n      function binarySearchInsertIndex(arr, ts) {\n        let lo = 0, hi = arr.length;\n        while (lo < hi) {\n          const mid = (lo + hi) >> 1;\n          if (arr[mid] < ts) lo = mid + 1; else hi = mid;\n        }\n        return lo;\n      }\n\n      // FIX: Y axis static 0-6\n      function computePressureRange() {\n        return { min: 0, max: 6 };\n      }\n\n      function formatTimeLabel(ts) {\n        try { return new Date(ts * 1000).toLocaleTimeString('id-ID', { hour: '2-digit', minute: '2-digit', second: '2-digit' }); } catch (e) { return new Date(ts * 1000).toLocaleTimeString(); }\n      }\n\n      function pruneOldPoints(cutoffTs) {\n        if (!STATE.times.length) return;\n        const idx = binarySearchInsertIndex(STATE.times, cutoffTs);\n        if (idx > 0) {\n          STATE.times = STATE.times.slice(idx);\n          STATE.labels = STATE.labels.slice(idx);\n          for (let s = 0; s < STATE.series.length; s++) STATE.series[s] = STATE.series[s].slice(idx);\n        }\n        if (STATE.times.length > CONFIG.MAX_POINTS) {\n          const extra = STATE.times.length - CONFIG.MAX_POINTS;\n          STATE.times = STATE.times.slice(extra);\n          STATE.labels = STATE.labels.slice(extra);\n          for (let s = 0; s < STATE.series.length; s++) STATE.series[s] = STATE.series[s].slice(extra);\n        }\n      }\n\n      function insertAt(idx, ts, label, values) {\n        if (idx === STATE.times.length) {\n          STATE.times.push(ts);\n          STATE.labels.push(label);\n          for (let s = 0; s < STATE.series.length; s++) STATE.series[s].push(values[s]);\n        } else {\n          STATE.times.splice(idx, 0, ts);\n          STATE.labels.splice(idx, 0, label);\n          for (let s = 0; s < STATE.series.length; s++) STATE.series[s].splice(idx, 0, values[s]);\n        }\n      }\n\n      function getNested(obj, path) { try { return path.split('.').reduce((o, p) => o != null ? o[p] : null, obj); } catch (e) { return null; } }\n\n      function updateA11ySummary(ts) {\n        const tStr = formatTimeLabel(ts);\n        DATASETS.forEach((d, i) => {\n          const a = ui.a11yIds[i];\n          const arr = STATE.series[i];\n          let last = null;\n          for (let k = arr.length - 1; k >= 0; k--) {\n            const v = arr[k];\n            if (typeof v === 'number') { last = v; break; }\n          }\n          if (a && a.val) a.val.textContent = last == null ? '—' : Number(last).toFixed(2);\n          if (a && a.time) a.time.textContent = tStr;\n        });\n\n        const parts = DATASETS.map((d, i) => {\n          const arr = STATE.series[i];\n          let last = null;\n          for (let k = arr.length - 1; k >= 0; k--) {\n            const v = arr[k];\n            if (typeof v === 'number') { last = v; break; }\n          }\n          return `${d.label}: ${last == null ? 'kosong' : Number(last).toFixed(2) + ' bar'}`;\n        });\n        ui.chartSummary.textContent = `Update ${tStr}. ${parts.join('. ')}.`;\n      }\n\n      function pushPayload(payload, tsInput) {\n        let ts = null;\n        if (typeof tsInput === 'number' && isFinite(tsInput)) ts = tsInput;\n        else if (payload && typeof payload.ts === 'number' && isFinite(payload.ts)) ts = payload.ts;\n        else if (payload && payload.time) {\n          const parsed = Date.parse(payload.time);\n          if (!isNaN(parsed)) ts = parsed / 1000;\n        }\n        if (ts == null || !isFinite(ts)) ts = Date.now() / 1000;\n\n        const label = new Date(ts * 1000).toLocaleTimeString('id-ID', { hour: '2-digit', minute: '2-digit', second: '2-digit' });\n\n        const values = [];\n        DATASETS.forEach((d) => {\n          const raw = getNested(payload, d.field);\n          let v = null;\n          if (raw == null) v = null;\n          else if (typeof raw === 'number') v = raw;\n          else { const n = Number(raw); v = Number.isFinite(n) ? n : null; }\n          values.push(v);\n        });\n\n        const idx = binarySearchInsertIndex(STATE.times, ts);\n        insertAt(idx, ts, label, values);\n        pruneOldPoints(ts - CONFIG.WINDOW_SECONDS);\n\n        // update small status boxes\n        DATASETS.forEach((d, i) => {\n          if (d.id && ui.dsEls[i]) {\n            const arr = STATE.series[i];\n            let last = null;\n            for (let k = arr.length - 1; k >= 0; k--) {\n              const v = arr[k];\n              if (typeof v === 'number') { last = v; break; }\n            }\n            ui.dsEls[i].textContent = last == null ? 'Pressure: --' : 'Pressure: ' + Number(last).toFixed(2) + ' bar';\n          }\n        });\n\n        updateA11ySummary(ts);\n        dirty = true;\n      }\n\n      function draw(displayNowSec) {\n        if (!ctx) return;\n        fit();\n        const containerRect = canvas.parentElement.getBoundingClientRect();\n        const rect = { width: containerRect.width, height: containerRect.height };\n        const pad = { l: 68, r: 10, t: 12, b: 80 };\n        const plotW = rect.width - pad.l - pad.r;\n        const plotH = rect.height - pad.t - pad.b;\n\n        ctx.clearRect(0, 0, rect.width, rect.height);\n        if (gridCache) {\n          ctx.drawImage(gridCache, 0, 0, rect.width, rect.height);\n        } else {\n          ctx.fillStyle = '#fff';\n          ctx.fillRect(pad.l - 1, pad.t - 1, plotW + 2, plotH + 2);\n        }\n\n        // default window\n        let endTime = displayNowSec;\n        let startTime = endTime - CONFIG.WINDOW_SECONDS;\n\n        // If we have data and the data span is less than window, anchor start at earliest data\n        if (STATE.times.length > 0) {\n          const first = STATE.times[0];\n          const last = STATE.times[STATE.times.length - 1];\n          const dataSpan = last - first;\n          if (dataSpan < CONFIG.WINDOW_SECONDS) {\n            // put earliest data at left (startTime = first) and end = first + window\n            startTime = first;\n            endTime = startTime + CONFIG.WINDOW_SECONDS;\n          } else {\n            // otherwise use rolling window to always show recent data up to endTime\n            // but ensure endTime >= last (so newest data is visible)\n            endTime = Math.max(endTime, last);\n            startTime = endTime - CONFIG.WINDOW_SECONDS;\n          }\n        }\n\n        pruneOldPoints(startTime);\n\n        // Y fixed 0..6\n        const pr = { min: 0, max: 6 };\n        ui.rangeText && (ui.rangeText.textContent = `Y: ${pr.min.toFixed(0)}–${pr.max.toFixed(0)} bar · X: 30 menit`);\n\n        // Draw Y labels (5 rows)\n        ctx.fillStyle = '#374151'; ctx.font = '12px ' + (navigator.userAgent.indexOf('Windows') >= 0 ? 'Arial' : 'system-ui');\n        ctx.textAlign = 'right'; ctx.textBaseline = 'middle';\n        const yRows = 5;\n        for (let r = 0; r <= yRows; r++) {\n          const frac = 1 - (r / yRows);\n          const val = pr.min + (pr.max - pr.min) * frac;\n          const y = pad.t + (plotH * r / yRows);\n          ctx.fillText(Number(val.toFixed(2)) + ' bar', pad.l - 10, y);\n        }\n\n        ctx.save(); ctx.translate(14, pad.t + plotH / 2); ctx.rotate(-Math.PI / 2); ctx.textAlign = 'center'; ctx.fillStyle = '#111827'; ctx.font = '13px system-ui'; ctx.fillText('Pressure (bar)', 0, -8); ctx.restore();\n\n        // X labels and visible indices using binary search\n        const startIdx = binarySearchInsertIndex(STATE.times, startTime);\n        const endIdx = binarySearchInsertIndex(STATE.times, endTime + 0.000001);\n        const visibleCount = Math.max(0, endIdx - startIdx);\n\n        ctx.fillStyle = '#6b7280';\n        ctx.font = '12px system-ui';\n        const bottomExtra = 28;\n\n        if (!visibleCount) {\n          const approxLabelWidth = 90;\n          const maxLabelsBySpace = Math.max(2, Math.floor(plotW / approxLabelWidth));\n          const labelCount = Math.min(6, maxLabelsBySpace);\n          for (let k = 0; k < labelCount; k++) {\n            const frac = k / Math.max(1, labelCount - 1);\n            const ts = startTime + frac * (endTime - startTime);\n            const x = pad.l + plotW * frac;\n            ctx.save();\n            ctx.translate(x, pad.t + plotH + 18 + bottomExtra / 2);\n            ctx.rotate(-Math.PI / 10);\n            ctx.textAlign = 'right';\n            ctx.textBaseline = 'middle';\n            ctx.fillText(formatTimeLabel(ts), 0, 0);\n            ctx.restore();\n          }\n        } else {\n          const maxXLabels = Math.min(6, Math.max(2, Math.floor(plotW / 90)));\n          const step = Math.max(1, Math.floor(visibleCount / maxXLabels));\n          for (let ii = startIdx; ii < endIdx; ii += step) {\n            const ts = STATE.times[ii];\n            const fracX = (ts - startTime) / (endTime - startTime);\n            const x = pad.l + plotW * fracX;\n            const y = pad.t + plotH + 18 + bottomExtra / 2;\n            ctx.save();\n            ctx.translate(x, y);\n            ctx.rotate(-Math.PI / 6);\n            ctx.textAlign = 'right';\n            ctx.textBaseline = 'middle';\n            ctx.fillText(formatTimeLabel(ts), 0, 0);\n            ctx.restore();\n          }\n        }\n\n        // draw datasets\n        for (let si = 0; si < DATASETS.length; si++) {\n          if (!STATE.visible[si]) continue;\n          const d = DATASETS[si];\n          const times = STATE.times;\n          const arr = STATE.series[si];\n          if (!times.length) continue;\n\n          ctx.beginPath(); ctx.lineWidth = 2; ctx.strokeStyle = d.color; ctx.fillStyle = d.color;\n          let started = false;\n          for (let j = startIdx; j < endIdx; j++) {\n            const t = times[j];\n            const v = arr[j];\n            if (t == null || v == null || isNaN(v)) { started = false; continue; }\n            if (t < startTime || t > endTime) { started = false; continue; }\n            const fracX = (t - startTime) / (endTime - startTime);\n            const x = pad.l + plotW * fracX;\n            const norm = (v - pr.min) / Math.max(0.000001, (pr.max - pr.min));\n            const y = pad.t + plotH * (1 - Math.max(0, Math.min(1, norm)));\n            if (!started) { ctx.moveTo(x, y); started = true; } else ctx.lineTo(x, y);\n          }\n          ctx.stroke();\n\n          ctx.save(); ctx.fillStyle = d.color;\n          let visiblePts = Math.max(1, endIdx - startIdx);\n          const sampling = Math.max(1, Math.floor(visiblePts / 300));\n          for (let j = startIdx; j < endIdx; j += sampling) {\n            const t = times[j];\n            const v = arr[j];\n            if (t == null || v == null || isNaN(v)) continue;\n            const fracX = (t - startTime) / (endTime - startTime);\n            const x = pad.l + plotW * fracX;\n            const norm = (v - pr.min) / Math.max(0.000001, (pr.max - pr.min));\n            const y = pad.t + plotH * (1 - Math.max(0, Math.min(1, norm)));\n            ctx.beginPath(); ctx.arc(x, y, 2.2, 0, Math.PI * 2); ctx.fill();\n          }\n          ctx.restore();\n        }\n\n        ctx.fillStyle = '#111827'; ctx.font = '13px system-ui'; ctx.textAlign = 'left';\n        ctx.strokeStyle = '#e6e6e6'; ctx.lineWidth = 1; ctx.strokeRect(Math.round(pad.l) + 0.5, Math.round(pad.t) + 0.5, Math.round(plotW) - 1, Math.round(plotH) - 1);\n      }\n\n      let raf = null;\n      let lastFrameTime = 0;\n      let lastFullDraw = 0;\n      const frameInterval = 1000 / CONFIG.TARGET_FPS;\n      let dirty = true;\n\n      function anim(now) {\n        if (!now) now = performance.now();\n        if (now - lastFrameTime >= frameInterval) {\n          if (dirty || (now - lastFullDraw >= 1000)) {\n            lastFrameTime = now - ((now - lastFrameTime) % frameInterval);\n            const nowSec = Date.now() / 1000;\n            draw(nowSec);\n            dirty = false;\n            lastFullDraw = now;\n          }\n        }\n        raf = requestAnimationFrame(anim);\n      }\n\n      function renderLegend() {\n        ui.legend.innerHTML = '';\n        DATASETS.forEach((d, i) => {\n          const btn = document.createElement('button');\n          btn.className = 'legend-button ' + (d.css || '');\n          btn.style.background = d.color;\n          btn.textContent = d.label;\n          btn.dataset.i = i;\n          btn.setAttribute('aria-pressed', String(!!STATE.visible[i]));\n          btn.setAttribute('aria-label', `Toggle ${d.label} series`);\n          btn.title = d.label;\n          if (!STATE.visible[i]) btn.classList.add('hidden');\n          btn.addEventListener('click', () => {\n            const idx = Number(btn.dataset.i);\n            STATE.visible[idx] = !STATE.visible[idx];\n            btn.classList.toggle('hidden', !STATE.visible[idx]);\n            btn.setAttribute('aria-pressed', String(!!STATE.visible[idx]));\n            dirty = true;\n          });\n          ui.legend.appendChild(btn);\n        });\n        fit();\n      }\n      renderLegend();\n\n      function wsUrl() { if (window.HMI_WS_URL) return window.HMI_WS_URL; const proto = (location.protocol === 'https:') ? 'wss:' : 'ws:'; return proto + '//' + location.host + CONFIG.WS_PATH; }\n      function setConn(connected) { ui.conn.textContent = connected ? 'CONNECTED' : 'DISCONNECTED'; ui.conn.classList.toggle('connected', connected); ui.conn.classList.toggle('disconnected', !connected); ui.conn.classList.remove('simulating'); }\n      function setSimulating() { ui.conn.textContent = 'SIMULATING'; ui.conn.classList.add('simulating'); ui.conn.classList.remove('connected'); ui.conn.classList.remove('disconnected'); }\n\n      function scheduleReconnect() {\n        STATE.reconnectAttempts = (STATE.reconnectAttempts || 0) + 1;\n        const base = STATE.reconnectAttempts <= 2 ? 500 : 1000;\n        const delay = Math.min(base * Math.pow(2, Math.min(STATE.reconnectAttempts, 6)), 30000);\n        if (STATE.reconnectTimer) clearTimeout(STATE.reconnectTimer);\n        STATE.reconnectTimer = setTimeout(connectWS, delay);\n      }\n\n      function connectWS() {\n        if (STATE.ws && (STATE.ws.readyState === WebSocket.OPEN || STATE.ws.readyState === WebSocket.CONNECTING)) return;\n        try { STATE.ws = new WebSocket(wsUrl()); } catch (e) { console.warn('WS create error', e); setConn(false); scheduleReconnect(); return; }\n        STATE.ws.onopen = () => { STATE.reconnectAttempts = 0; setConn(true); if (STATE.reconnectTimer) { clearTimeout(STATE.reconnectTimer); STATE.reconnectTimer = null; } };\n        STATE.ws.onmessage = (evt) => { try { const j = JSON.parse(evt.data); let ts = null; if (j && (typeof j.ts === 'number')) ts = j.ts; else if (j && j.time) { const p = Date.parse(j.time); if (!isNaN(p)) ts = p / 1000; } pushPayload(j, ts); } catch (e) { console.warn('Invalid message', e); } };\n        STATE.ws.onclose = () => { setConn(false); scheduleReconnect(); };\n        STATE.ws.onerror = (err) => { console.error('WS error', err); };\n      }\n      setConn(false); connectWS();\n\n      ui.sendNoteBtn && ui.sendNoteBtn.addEventListener('click', () => {\n        const text = ui.noteText.value.trim(); const type = ui.noteType.value;\n        if (!text) { alert('Keterangan kosong'); return; }\n        const payload = { cmd: 'note', type, text, time: new Date().toISOString() };\n        if (STATE.ws && STATE.ws.readyState === WebSocket.OPEN) {\n          STATE.ws.send(JSON.stringify(payload));\n          ui.noteStatus.textContent = 'Laporan terkirim'; ui.noteStatus.className = 'note-status success'; ui.noteText.value = '';\n          setTimeout(() => { ui.noteStatus.textContent = ''; ui.noteStatus.className = 'note-status'; }, 3000);\n        } else {\n          ui.noteStatus.textContent = 'WS tidak terhubung'; ui.noteStatus.className = 'note-status error';\n          setTimeout(() => { ui.noteStatus.textContent = ''; ui.noteStatus.className = 'note-status'; }, 3000);\n        }\n      });\n\n      window.__hmi = { pushPayload, STATE, CONFIG };\n\n      function cleanup() {\n        try { if (raf) cancelAnimationFrame(raf); } catch (e) {}\n        try { if (STATE.ws) STATE.ws.close(); } catch (e) {}\n        try { if (STATE.reconnectTimer) clearTimeout(STATE.reconnectTimer); } catch (e) {}\n        try { if (resizeObserver) { resizeObserver.disconnect(); resizeObserver = null; } } catch (e) {}\n        try { window.removeEventListener('resize', applyScale); window.removeEventListener('hmi-resize', fit); window.removeEventListener('resize', fit); } catch (e) {}\n      }\n      window.addEventListener('beforeunload', cleanup);\n\n      fit();\n      if (!raf) raf = requestAnimationFrame(anim);\n\n    })();\n  </script>\n</body>\n\n</html>",
        "output": "str",
        "x": 470,
        "y": 140,
        "wires": [
            [
                "3c4d5e6f.000003"
            ]
        ]
    }
]